.glyphicon {
  position: relative;
  top: 0px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
    --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
}
html {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.26666667;
  color: #222;
  background: linear-gradient(to bottom, #ffffff 50%, #f6f6f6 100%) no-repeat;
  background-color: #f6f6f6;
}
a {
  color: #0b0080;
}
a:visited {
  color: #0645ad;
}
.nav {
  font-size: .75rem;
}
.nav a {
  line-height: 1.5;
  padding: 0 .5rem 0 .5rem;
}
.nav a:hover {
  text-decoration: underline;
}
.visited {
  color: #0b0080;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 155px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1.0), rgba(246, 246, 246, 1.0));
  border-right: 1px solid #cedff2;
  padding: 0 17.5px 0 17.5px;
}
.logo img {
  position: absolute;
  top: 0;
  left: 17.5px;
  width: 135px;
  height: 155px;
  z-index: 500;
}
.sidebarNav {
  position:absolute;
  top: 155px;
  left: 0;
  width: 170px;
  background-color: #f6f6f6;
  border-right: 1px solid #cedff2;
  padding: 1.65rem 0 0 19px;
  z-index: 200;
}
.sidebarNav a {
  padding: .075rem 2rem 0rem .5rem;
}
.languages a {
  padding: .065rem 5rem 0rem .5rem;
}
h2 {
  font-size: 1.62rem;
  text-align: center;
}
h3 {
  font-size: .75rem;
  color: rgba(68,68,68,0.8);
  text-align: left;
  border-bottom: 1px solid rgba(68,68,68,0.3);
  margin: 0 2.5rem .25rem .5rem;
  padding: 1rem 0 .25rem 0;
}
.container-fluid {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.topNav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 3rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0.0)) no-repeat;
  z-index: 200;
  padding: .5rem .5rem 0 0;
}
.bottomNav {
  font-size: .8125rem;
  line-height: 1.125;
  background: linear-gradient(to bottom, #ffffff 50%,#f6f6f6 100%) no-repeat;
  margin: 4rem 0 0 0;
  padding: 0 0 0 0;
  border-bottom: 1px solid #cedff2;
}
.bottomNav p {
  text-align: left;
  margin: 0 0 0 1rem;
  padding: 0 0 0 0;
}
.jumbotron {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0rem;
  margin: 1.9rem 1.25rem 0 1.25rem;
  padding: .85rem 0rem 0rem 1rem;
}
@media (min-width: 576px) {
  .jumbotron {
    margin: 1.9rem 1.25rem 0 1.25rem;
    padding: .85rem 1rem 0rem 1rem;
  }
}
.jumbotron h2 {
  font-weight: normal;
  padding: .25rem 3rem .25rem 3rem;
}
.jumbotron p {
  font-size: .85rem;
  text-align: center;
  padding: 0 3rem 0 3rem;
}
.jumbotron .nav {
  font-size: .85rem;
  margin: 0 0 0 0;
  padding: 0 0rem 0 0;
}
.jumbotron .nav a {
  padding: 0 2rem 0 .75rem;
}
.jumbotron li {
  line-height: .2;
}
.jumbotron li::before {
  display: inline-block;
  position: relative;
  top:1rem;
  left: 0;
  content: '•';
  font-size: 1.5rem;
  color: #0645ad;
}

.mainContent {
  background-color: #fff;
  /* border: 1px solid #cedff2;
  border-top: 1px solid #fff; */
  margin: 0 0 0 170px;
  padding: 0 0 0 0;
}
.stories {

}
