.glyphicon {
  position: relative;
  top: 0px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
    --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
}
html {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.26666667;
  color: #222;
  background: linear-gradient(to bottom, #ffffff 50%, #f6f6f6 100%) no-repeat;
  background-color: #f6f6f6;
}
b {
  font-weight: bolder;
}
a {
  color: #0b0080;
}
a:visited {
  color: #0645ad;
}
h2 {
  font-size: 1.62rem;
  text-align: center;
}
h3 {
  font-size: .75rem;
  color: rgba(68,68,68,0.8);
  text-align: left;
  border-bottom: 1px solid rgba(68,68,68,0.3);
  margin: 0 2.5rem .25rem .5rem;
  padding: 1rem 0 .25rem 0;
}
h4 {
  font-size: 1.15rem;
  font-weight: bold;
}
.container-fluid {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.nav {
  font-size: .75rem;
}
.nav a {
  line-height: 1.5;
  padding: 0 .5rem 0 .5rem;
}
.nav a:hover {
  text-decoration: underline;
}
.visited {
  color: #0b0080;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 155px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1.0), rgba(246, 246, 246, 1.0));
  border-right: 1px solid #cedff2;
  padding: 0 17.5px 0 17.5px;
}
.logo img {
  position: absolute;
  top: 0;
  left: 17.5px;
  width: 135px;
  height: 155px;
  z-index: 500;
}
.sidebarNav {
  position:absolute;
  top: 155px;
  left: 0;
  width: 170px;
  background-color: #f6f6f6;
  border-right: 1px solid #cedff2;
  padding: 1.65rem 0 0 19px;
  z-index: 200;
}
.sidebarNav a {
  padding: .075rem 2rem 0rem .5rem;
}
.languages a {
  padding: .065rem 5rem 0rem .5rem;
}
.topNav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 5rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0.0)) no-repeat;
  z-index: 200;
  padding: .5rem .5rem 0 0;
}
.bottomNav {
  font-size: .8125rem;
  line-height: 1.125;
  background: linear-gradient(to bottom, #ffffff 50%,#f6f6f6 100%) no-repeat;
  margin: 4rem 0 0 170px;
  padding: 0 0 0 0;
  border-bottom: 1px solid #cedff2;
}
.bottomNav p {
  text-align: left;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.mainPageNav {
  border: 1px solid red;
}
.talkNav {
  border: 1px solid green;
}
.mainContent {
  background-color: #fff;
  margin: 0 0 0 170px;
  padding: 0 0 0 0;
}
.jumbotron-fluid {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0rem;
  margin: 1.9rem 1.25rem 0 1.25rem;
  padding: .85rem 1rem 0 1rem;
}
.jumbotron-fluid h2 {
  font-weight: normal;
  padding: .25rem 4rem .25rem 0;
}
.jumbotron-fluid p {
  font-size: .85rem;
  text-align: center;
  padding: 0 4rem 0 0;
}
.jumbotron-fluid .nav {
  font-size: .85rem;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.jumbotron-fluid .nav-item a {
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0 1rem 0 0;
}
@media (max-width:1100px) {
  .jumbotron-fluid .nav-item a {
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 0rem 0 0;
  }
}
.jumbotron-fluid ul {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.jumbotron-fluid .nav li::before {
  display: inline-block;
  position:relative;
  top: 3px;
  content: "\2022";
  font-size: 1.4rem;
  width: 10px;
  height: 16.38px;
  margin: -6px 0 0 -1rem;
  padding: 0 0 0 0;
  color: #0645ad;
}

.stories {
  font-size: .9rem;
  line-height: 1.65;
  color: black;
  margin: .5rem 1.25rem 0 1.25rem;
  padding: 0 0 0 0;
}
.stories p {
  margin: .125rem 0 .125rem 0;
  padding: 0 0 .25rem 0;
}
.leftStory {
  background: rgba(206,242,224,0.25);
  border: 1px solid #cef2e0;
  margin: 0 -.75rem 0 0;
  padding: .5rem .5rem .5rem .5rem;
}
.leftStory h4 {
  background-color: #cef2e0;
  border: 1px solid #a3bfb1;
  margin: 0 0 1rem 0;
  padding: .25rem .25rem .25rem .25rem;
}
.leftStoryText {

}
.leftStoryImage {
  width: 130px;
}
.leftStoryImage img {
  width: 120px;
  margin: 0 0 .25rem 0;
  padding: 0 0 0 0;
}
.leftStory figure {
  width: 120px;
  font-size: .9rem;
  line-height: 1.45;
  color: rgba(68,68,68,0.8);
  margin: 0 0 .25rem 0;
  padding: 0 0 0 0;
}
.rightStory {
  background-color: rgba(163,176,191,0.15);
  border: 1px solid rgba(163,176,191,0.25);
  margin: 0 0 0 -.75rem;
  padding: .5rem .5rem 0 .5rem;
}
.rightStory h4 {
  background-color: #cedff2;
  border: 1px solid #a3b0bf;

  padding: .25rem 0rem .25rem .5rem;
}
.rightStoryImage {
  width: 160px;
  padding: 0 0 0 10px;
}
.rightStoryImage img {
  width: 150px;
  margin: 0 0 .25rem 0;
  padding: 0 0 0 0;
}
.rightStory figure {
  width: 150px;
  font-size: .9rem;
  line-height: 1.65;
  color: rgba(68,68,68,1.0);
  margin: 0 0 .25rem 0;
  padding: 0 0 0 0;
}
.rightStory figcaption {
  color: rgba(68,68,68,1.0);
}
.rightStory ul {
  list-style: none;
  line-height: 1.55;
  margin: 0 0 13px .5rem;
  padding: 6px 0 0 1rem;
}
.rightStory ul li {
  margin: 0 0 0 0;
  padding: 0 0 4px 0;
}
.rightStory ul li::before {
  display: inline-block;
  position:relative;
  top: 3px;
  content: "\2022";
  font-size: 1.4rem;
  width: 16.38px;
  height: 16.38px;
  margin: -6px 0 0 -1rem;
  padding: 0 0 0 0;
  color: #0645ad;
}
