
.suggestions a.mw-searchSuggest-link, .suggestions a.mw-searchSuggest-link:hover, .suggestions a.mw-searchSuggest-link:active, .suggestions a.mw-searchSuggest-link:focus {
    color: #000;
    text-decoration: none;
}
.suggestions-result-current a.mw-searchSuggest-link, .suggestions-result-current a.mw-searchSuggest-link:hover, .suggestions-result-current a.mw-searchSuggest-link:active, .suggestions-result-current a.mw-searchSuggest-link:focus {
    color: #fff;
}
.suggestions a.mw-searchSuggest-link .special-query {
     overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mw-mmv-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: #000;
}
body.mw-mmv-lightbox-open {
    overflow-y: auto;
  }
body.mw-mmv-lightbox-open #mw-page-base, body.mw-mmv-lightbox-open #mw-head-base, body.mw-mmv-lightbox-open #mw-navigation, body.mw-mmv-lightbox-open #content, body.mw-mmv-lightbox-open #footer, body.mw-mmv-lightbox-open #globalWrapper {
     display: none;
}
body.mw-mmv-lightbox-open > * {
     display: none;
}
body.mw-mmv-lightbox-open > .mw-mmv-overlay, body.mw-mmv-lightbox-open > .mw-mmv-wrapper {
    display: block;
}
.mw-mmv-filepage-buttons {
    margin-top: 5px;
}
.mw-mmv-filepage-buttons .mw-mmv-view-expanded, .mw-mmv-filepage-buttons .mw-mmv-view-config {
    display: block;
    line-height: inherit;
}
.mw-mmv-filepage-buttons .mw-mmv-view-expanded.mw-ui-icon:before {
    background-image: url("data:image/svg+xml, %3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 1024 768%22%3E %3Cpath d=%22M851.2 71.6L690.7 232.1l-40.1-40.3-9.6 164.8 164.8-9.3-40.3-40.4L926 146.4l58.5 58.5L997.6 0 792.7 13.1%22/%3E %3Cpath d=%22M769.6 89.3H611.9l70.9 70.8 7.9 7.5m-47.1 234.6l-51.2 3 3-51.2 9.4-164.4 5.8-100.3H26.4V768h883.1V387l-100.9 5.8-165 9.4zM813.9 678H113.6l207.2-270.2 31.5-12.9L548 599.8l105.9-63.2 159.8 140.8.2.6zm95.6-291.9V228l-79.1 78.9 7.8 7.9%22/%3E %3C/svg%3E");
}
.mw-mmv-filepage-buttons .mw-mmv-view-config.mw-ui-icon:before {
    background-image: url("data:image/svg+xml, %3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 1024 768%22%3E %3Cpath d=%22M897 454.6V313.4L810.4 299c-6.4-23.3-16-45.7-27.3-65.8l50.5-71.4-99.4-100.2-71.4 50.5c-20.9-11.2-42.5-20.9-65.8-27.3L582.6-1H441.4L427 85.6c-23.3 6.4-45.7 16-65.8 27.3l-71.4-50.5-100.3 99.5 50.5 71.4c-11.2 20.9-20.9 42.5-27.3 66.6L127 313.4v141.2l85.8 14.4c6.4 23.3 16 45.7 27.3 66.6L189.6 607l99.5 99.5 71.4-50.5c20.9 11.2 42.5 20.9 66.6 27.3l14.4 85.8h141.2l14.4-86.6c23.3-6.4 45.7-16 65.8-27.3l71.4 50.5 99.5-99.5-50.5-71.4c11.2-20.9 20.9-42.5 27.3-66.6l86.4-13.6zm-385 77c-81.8 0-147.6-66.6-147.6-147.6 0-81.8 66.6-147.6 147.6-147.6S659.6 302.2 659.6 384 593.8 531.6 512 531.6z%22/%3E %3C/svg%3E");
    opacity: 0.75;
}
.mw-mmv-filepage-buttons .mw-mmv-view-config.mw-ui-icon:before:hover {
    opacity: 1;
}
.mw-mmv-button {
    background-color: transparent;
    min-width: 0;
    border: 0;
    padding: 0;
    overflow-x: hidden;
    text-indent: -9999em;
}
@-webkit-keyframes mwe-popups-fade-in-up {
    0% {
    opacity: 0;
    -webkit-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    transform: translate(0, 20px);
}
100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
}@-moz-keyframes mwe-popups-fade-in-up {
    0% {
    opacity: 0;
    -webkit-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    transform: translate(0, 20px);
}
100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
}@keyframes mwe-popups-fade-in-up {
    0% {
    opacity: 0;
    -webkit-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    transform: translate(0, 20px);
}
100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
}@-webkit-keyframes mwe-popups-fade-in-down {
    0% {
    opacity: 0;
    -webkit-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    transform: translate(0, -20px);
}
100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
}@-moz-keyframes mwe-popups-fade-in-down {
    0% {
    opacity: 0;
    -webkit-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    transform: translate(0, -20px);
}
100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
}@keyframes mwe-popups-fade-in-down {
    0% {
    opacity: 0;
    -webkit-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    transform: translate(0, -20px);
}
100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
}@-webkit-keyframes mwe-popups-fade-out-down {
    0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
100% {
    opacity: 0;
    -webkit-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    transform: translate(0, 20px);
}
}@-moz-keyframes mwe-popups-fade-out-down {
    0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
100% {
    opacity: 0;
    -webkit-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    transform: translate(0, 20px);
}
}@keyframes mwe-popups-fade-out-down {
    0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
100% {
    opacity: 0;
    -webkit-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    transform: translate(0, 20px);
}
}@-webkit-keyframes mwe-popups-fade-out-up {
    0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
100% {
    opacity: 0;
    -webkit-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    transform: translate(0, -20px);
}
}@-moz-keyframes mwe-popups-fade-out-up {
    0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
100% {
    opacity: 0;
    -webkit-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    transform: translate(0, -20px);
}
}@keyframes mwe-popups-fade-out-up {
    0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
100% {
    opacity: 0;
    -webkit-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    transform: translate(0, -20px);
}
}.mwe-popups-fade-in-up {
    -webkit-animation: mwe-popups-fade-in-up 0.2s ease forwards;
    -moz-animation: mwe-popups-fade-in-up 0.2s ease forwards;
    animation: mwe-popups-fade-in-up 0.2s ease forwards;
}
.mwe-popups-fade-in-down {
    -webkit-animation: mwe-popups-fade-in-down 0.2s ease forwards;
    -moz-animation: mwe-popups-fade-in-down 0.2s ease forwards;
    animation: mwe-popups-fade-in-down 0.2s ease forwards;
}
.mwe-popups-fade-out-down {
    -webkit-animation: mwe-popups-fade-out-down 0.2s ease forwards;
    -moz-animation: mwe-popups-fade-out-down 0.2s ease forwards;
    animation: mwe-popups-fade-out-down 0.2s ease forwards;
}
.mwe-popups-fade-out-up {
    -webkit-animation: mwe-popups-fade-out-up 0.2s ease forwards;
    -moz-animation: mwe-popups-fade-out-up 0.2s ease forwards;
    animation: mwe-popups-fade-out-up 0.2s ease forwards;
}
   #mwe-popups-settings {
    z-index: 1000;
    background: #fff;
    width: 420px;
    border: 1px solid #a2a9b1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    font-size: 14px;
}
#mwe-popups-settings header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #c8ccd1;
    position: relative;
    display: table;
    width: 100%;
    padding: 5px 7px 5px 0;
}
#mwe-popups-settings header > div {
    display: table-cell;
    width: 3.5em;
    vertical-align: middle;
    cursor: pointer;
}
#mwe-popups-settings header h1 {
    margin-bottom: 0.6em;
    padding-top: 0.5em;
    border: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
#mwe-popups-settings .mwe-ui-icon-popups-close {
    opacity: 0.87;
    -webkit-transition: opacity 100ms;
    -moz-transition: opacity 100ms;
    transition: opacity 100ms;
}
#mwe-popups-settings .mwe-ui-icon-popups-close:hover {
    opacity: 0.73;
}
#mwe-popups-settings .mwe-ui-icon-popups-close:active {
    opacity: 1;
}
#mwe-popups-settings main {
    display: block;
    width: 350px;
    padding: 32px 0 24px;
    margin: 0 auto;
}
#mwe-popups-settings main p {
    color: #54595d;
    font-size: 17px;
    margin: 16px 0 0;
}
#mwe-popups-settings main p:first-child {
    margin-top: 0;
}
#mwe-popups-settings main form img, #mwe-popups-settings main form input, #mwe-popups-settings main form label {
    vertical-align: top;
}
#mwe-popups-settings main form img {
    margin-right: 60px;
}
#mwe-popups-settings main form input {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0;
}
#mwe-popups-settings main form label {
    font-size: 13px;
    display: inline-block;
    line-height: 16px;
    width: 300px;
}
#mwe-popups-settings main form label > span {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    line-height: 18px;
}
.mwe-popups-settings-help {
    font-size: 13px;
    font-weight: 800;
    margin: 40px;
    position: relative;
}
.mwe-popups-settings-help .mw-ui-icon:before, .mwe-popups-settings-help .mw-ui-icon {
    height: 140px;
    width: 180px;
    max-width: none;
    margin: 0;
}
.mwe-popups-settings-help p {
    left: 180px;
    bottom: 20px;
    position: absolute;
}
.mwe-popups {
    background: #fff;
    position: absolute;
    z-index: 110;
    -webkit-box-shadow: 0 30px 90px -20px rgba(0, 0, 0, 0.3), 0 0 1px #a2a9b1;
    box-shadow: 0 30px 90px -20px rgba(0, 0, 0, 0.3), 0 0 1px #a2a9b1;
    padding: 0;
    display: none;
    font-size: 14px;
    line-height: 20px;
    min-width: 300px;
    border-radius: 2px;
 }
.mwe-popups .mw-ui-icon {
    font-size: 16px;
}
.mwe-popups .mw-ui-icon-preview-disambiguation, .mwe-popups .mw-ui-icon-preview-generic {
    margin: 21px 0 8px 0;
}
.mwe-popups .mwe-popups-container {
    color: #222222;
    margin-top: -9px;
    padding-top: 9px;
    text-decoration: none;
}
.mwe-popups .mwe-popups-container footer {
    padding: 16px;
    margin: 0;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.mwe-popups .mwe-popups-extract {
    margin: 16px;
    display: block;
    color: #222222;
    text-decoration: none;
    position: relative;
   }
.mwe-popups .mwe-popups-extract:hover {
    text-decoration: none;
}
.mwe-popups .mwe-popups-extract:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    width: 25%;
    height: 20px;
    background-color: transparent;
}
.mwe-popups .mwe-popups-extract[dir='ltr']:after {
     right: 0;
     background-image: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 50%);
     background-image: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 50%);
     background-image: -o-linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 50%);
     background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 50%);
}
.mwe-popups .mwe-popups-extract[dir='rtl']:after {
     left: 0;
     background-image: -webkit-linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff 50%);
     background-image: -moz-linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff 50%);
     background-image: -o-linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff 50%);
     background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff 50%);
}
.mwe-popups .mwe-popups-extract p {
    margin: 0;
}
.mwe-popups .mwe-popups-extract ul, .mwe-popups .mwe-popups-extract ol, .mwe-popups .mwe-popups-extract li, .mwe-popups .mwe-popups-extract dl, .mwe-popups .mwe-popups-extract dd, .mwe-popups .mwe-popups-extract dt {
    margin-top: 0;
    margin-bottom: 0;
}
.mwe-popups svg {
    overflow: hidden;
}
.mwe-popups.mwe-popups-is-tall {
    width: 450px;
}
.mwe-popups.mwe-popups-is-tall > div > a > svg {
    vertical-align: middle;
}
.mwe-popups.mwe-popups-is-tall .mwe-popups-extract {
    width: 215px;
    height: 180px;
    overflow: hidden;
    float: left;
}
.mwe-popups.mwe-popups-is-tall footer {
    width: 215px;
    left: 0;
}
.mwe-popups.mwe-popups-is-not-tall {
    width: 320px;
}
.mwe-popups.mwe-popups-is-not-tall .mwe-popups-extract {
    min-height: 40px;
    max-height: 140px;
    overflow: hidden;
    margin-bottom: 47px;
    padding-bottom: 0;
}
.mwe-popups.mwe-popups-is-not-tall footer {
    width: 290px;
}
.mwe-popups.mwe-popups-type-generic .mwe-popups-extract, .mwe-popups.mwe-popups-type-disambiguation .mwe-popups-extract {
    min-height: auto;
    padding-top: 4px;
    margin-bottom: 60px;
    margin-top: 0;
}
.mwe-popups.mwe-popups-type-generic .mwe-popups-read-link, .mwe-popups.mwe-popups-type-disambiguation .mwe-popups-read-link {
    font-weight: bold;
    font-size: 12px;
}
.mwe-popups.mwe-popups-type-generic .mwe-popups-extract:hover + footer .mwe-popups-read-link, .mwe-popups.mwe-popups-type-disambiguation .mwe-popups-extract:hover + footer .mwe-popups-read-link {
    text-decoration: underline;
}
.mwe-popups.mwe-popups-no-image-pointer:before {
    content: '';
    position: absolute;
    border: 8px solid transparent;
    border-top: 0;
    border-bottom: 8px solid #a2a9b1;
    top: -8px;
    left: 10px;
}
.mwe-popups.mwe-popups-no-image-pointer:after {
    content: '';
    position: absolute;
    border: 11px solid transparent;
    border-top: 0;
    border-bottom: 11px solid #ffffff;
    top: -7px;
    left: 7px;
}
.mwe-popups.flipped-x.mwe-popups-no-image-pointer:before {
    left: auto;
    right: 10px;
}
.mwe-popups.flipped-x.mwe-popups-no-image-pointer:after {
    left: auto;
    right: 7px;
}
.mwe-popups.mwe-popups-image-pointer:before {
    content: '';
    position: absolute;
    border: 9px solid transparent;
    border-top: 0;
    border-bottom: 9px solid #a2a9b1;
    top: -9px;
    left: 9px;
    z-index: 111;
}
.mwe-popups.mwe-popups-image-pointer:after {
    content: '';
    position: absolute;
    border: 12px solid transparent;
    border-top: 0;
    border-bottom: 12px solid #ffffff;
    top: -8px;
    left: 6px;
    z-index: 112;
}
.mwe-popups.mwe-popups-image-pointer.flipped-x:before {
    content: '';
    position: absolute;
    border: 9px solid transparent;
    border-top: 0;
    border-bottom: 9px solid #a2a9b1;
    top: -9px;
    left: 273px;
}
.mwe-popups.mwe-popups-image-pointer.flipped-x:after {
    content: '';
    position: absolute;
    border: 12px solid transparent;
    border-top: 0;
    border-bottom: 12px solid #ffffff;
    top: -8px;
    left: 269px;
}
.mwe-popups.mwe-popups-image-pointer .mwe-popups-extract {
    padding-top: 16px;
    margin-top: 200px;
}
.mwe-popups.mwe-popups-image-pointer > div > a > svg {
    margin-top: -8px;
    position: absolute;
    z-index: 113;
    left: 0;
}
.mwe-popups.flipped-x.mwe-popups-is-tall {
    min-height: 242px;
}
.mwe-popups.flipped-x.mwe-popups-is-tall:before {
    content: '';
    position: absolute;
    border: 9px solid transparent;
    border-top: 0;
    border-bottom: 9px solid #a2a9b1;
    top: -9px;
    left: 420px;
    z-index: 111;
}
.mwe-popups.flipped-x.mwe-popups-is-tall > div > a > svg {
    margin: 0;
    margin-top: -8px;
    margin-bottom: -7px;
    position: absolute;
    z-index: 113;
    right: 0;
}
.mwe-popups.flipped-x-y:before {
    content: '';
    position: absolute;
    border: 9px solid transparent;
    border-bottom: 0;
    border-top: 9px solid #a2a9b1;
    bottom: -9px;
    left: 272px;
    z-index: 111;
}
.mwe-popups.flipped-x-y:after {
    content: '';
    position: absolute;
    border: 12px solid transparent;
    border-bottom: 0;
    border-top: 12px solid #ffffff;
    bottom: -8px;
    left: 269px;
    z-index: 112;
}
.mwe-popups.flipped-x-y.mwe-popups-is-tall {
    min-height: 242px;
}
.mwe-popups.flipped-x-y.mwe-popups-is-tall:before {
    content: '';
    position: absolute;
    border: 9px solid transparent;
    border-bottom: 0;
    border-top: 9px solid #a2a9b1;
    bottom: -9px;
    left: 420px;
}
.mwe-popups.flipped-x-y.mwe-popups-is-tall:after {
    content: '';
    position: absolute;
    border: 12px solid transparent;
    border-bottom: 0;
    border-top: 12px solid #ffffff;
    bottom: -8px;
    left: 417px;
}
.mwe-popups.flipped-x-y.mwe-popups-is-tall > div > a > svg {
    margin: 0;
    margin-bottom: -9px;
    position: absolute;
    z-index: 113;
    right: 0;
}
.mwe-popups.flipped-y:before {
    content: '';
    position: absolute;
    border: 8px solid transparent;
    border-bottom: 0;
    border-top: 8px solid #a2a9b1;
    bottom: -8px;
    left: 10px;
}
.mwe-popups.flipped-y:after {
    content: '';
    position: absolute;
    border: 11px solid transparent;
    border-bottom: 0;
    border-top: 11px solid #ffffff;
    bottom: -7px;
    left: 7px;
}
.mwe-popups-is-tall polyline {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.mwe-popups-is-tall.flipped-x-y polyline {
    -webkit-transform: translate(0, -8px);
    -moz-transform: translate(0, -8px);
    -ms-transform: translate(0, -8px);
    transform: translate(0, -8px);
}
.mwe-popups-is-tall.flipped-x polyline {
    -webkit-transform: translate(0, 8px);
    -moz-transform: translate(0, 8px);
    -ms-transform: translate(0, 8px);
    transform: translate(0, 8px);
}
.rtl .mwe-popups-is-tall polyline {
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}
.rtl .mwe-popups-is-tall.flipped-x-y polyline {
    -webkit-transform: translate(-100%, -8px);
    -moz-transform: translate(-100%, -8px);
    -ms-transform: translate(-100%, -8px);
    transform: translate(-100%, -8px);
}
.rtl .mwe-popups-is-tall.flipped-x polyline {
    -webkit-transform: translate(-100%, 8px);
    -moz-transform: translate(-100%, 8px);
    -ms-transform: translate(-100%, 8px);
    transform: translate(-100%, 8px);
}
.mwe-popups-settings-icon {
    display: block;
    overflow: hidden;
    font-size: 16px;
    width: 1.5em;
    height: 1.5em;
    padding: 3px;
    float: right;
    margin: 4px 4px 2px 4px;
    text-indent: -1em;
    border-radius: 2px;
}
.mwe-popups-settings-icon:hover {
    background-color: #eaecf0;
}
.mwe-popups-settings-icon:active {
    background-color: #c8ccd1;
}
.mwe-popups .mwe-popups-title {
    display: block;
    font-weight: bold;
    margin: 0 16px;
}
.mwe-popups-type-reference .mwe-popups-title {
    margin-top: 16px;
}
.mwe-popups-type-reference .mwe-popups-title .mw-ui-icon {
    vertical-align: middle;
}
.mwe-popups-type-reference .mwe-popups-title .mw-ui-icon.mw-ui-icon-element {
    min-width: 1.5em;
    width: 1.5em;
}
.mwe-popups-type-reference .mwe-popups-title .mw-ui-icon.mw-ui-icon-element:before {
    margin: 0;
}
.mwe-popups-type-reference .mwe-popups-title .mw-ui-icon.mw-ui-icon-preview-reference {
     margin-left: -2px;
}
.mwe-popups-type-reference .mwe-popups-read-link {
    font-size: 12px;
}
.mwe-popups-overlay {
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 999;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mwe-popups-svg {
    position: absolute;
    top: -1000px;
}
.ve-init-mw-tempWikitextEditorWidget {
    border: 0;
    padding: 0;
    color: inherit;
    line-height: 1.5em;
    width: 100%;
 }
.ve-init-mw-tempWikitextEditorWidget:focus {
    outline: 0;
    padding: 0;
}
.ve-init-mw-tempWikitextEditorWidget::selection {
    background: rgba(109, 169, 247, 0.5);
 }

#uls-settings-block {
    background-color: #f8f9fa;
    border-top: 1px solid #c8ccd1;
    padding-left: 10px;
    line-height: 1.2em;
    border-radius: 0 0 2px 2px;
}
#uls-settings-block > button {
    background: left top transparent no-repeat;
    background-size: 20px auto;
    color: #54595d;
    display: inline-block;
    margin: 8px 15px;
    border: 0;
    padding: 0 0 0 26px;
    font-size: medium;
    cursor: pointer;
}
#uls-settings-block > button:hover {
    color: #222;
}
#uls-settings-block > button.display-settings-block {
    background-image: url(/w/extensions/UniversalLanguageSelector/resources/images/display.png?d25f1);
    background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml, %3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E %3Cpath fill=%22%23222%22 d=%22M.002 2.275V15.22h8.405c.535 1.624-.975 1.786-1.902 2.505 0 0 2.293-.024 3.439-.024 1.144 0 3.432.024 3.432.024-.905-.688-2.355-.868-1.902-2.505h8.527V2.275h-20zm6.81 1.84h.797l3.313 8.466H9.879L8.836 9.943H5.462l-1.043 2.638h-.982zm.368 1.104c-.084.369-.211.785-.368 1.227L5.83 9.023h2.699l-.982-2.577c-.128-.33-.234-.747-.368-1.227zm7.117.982c.753 0 1.295.157 1.656.491.365.334.552.858.552 1.595v4.294h-.675l-.184-.859h-.062c-.315.396-.605.655-.92.798-.311.138-.758.184-1.227.184-.626 0-1.115-.168-1.472-.491-.353-.323-.491-.754-.491-1.35 0-1.275 1.028-1.963 3.068-2.025h1.043v-.429c0-.495-.091-.87-.307-1.104-.211-.238-.574-.307-1.043-.307-.526 0-1.115.107-1.779.429l-.307-.675a4.748 4.748 0 0 1 1.043-.429 4.334 4.334 0 0 1 1.104-.123zm.307 3.313c-.761.027-1.318.157-1.656.368-.334.207-.491.54-.491.982 0 .346.1.617.307.798.211.181.544.245.92.245.595 0 1.012-.164 1.35-.491.342-.326.552-.762.552-1.35v-.552z%22/%3E %3C/svg%3E");
}
#uls-settings-block > button.input-settings-block {
    background-image: url(/w/extensions/UniversalLanguageSelector/resources/images/input.png?aea9e);
    background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml, %3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E %3Cpath fill=%22%23222%22 d=%22M9 1.281c-.124.259-.185.599-.5.688-.55.081-1.133.018-1.688 0-.866-.032-1.733-.148-2.594 0-.588.157-.953.727-1.188 1.25-.178.416-.271.836-.344 1.281H-.002V16h20V4.5H3.654c.109-.52.203-1.057.563-1.469.222-.231.587-.17.875-.188 1.212.003 2.415.179 3.625.063.463-.058.812-.455.969-.875l.188-.438-.875-.313zM1.875 7.125h1.563c.094 0 .188.093.188.188v1.531a.201.201 0 0 1-.188.188H1.875c-.094 0-.156-.093-.156-.188V7.313c0-.094.062-.188.156-.188zm2.844 0h1.563c.094 0 .156.093.156.188v1.531c0 .094-.062.188-.156.188H4.719c-.094 0-.156-.093-.156-.188V7.313c0-.094.062-.188.156-.188zm2.844 0h1.563c.094 0 .156.093.156.188v1.531c0 .094-.062.188-.156.188H7.563a.201.201 0 0 1-.188-.188V7.313c0-.094.093-.188.188-.188zm2.813 0h1.563c.094 0 .188.093.188.188v1.531a.201.201 0 0 1-.188.188h-1.563c-.094 0-.156-.093-.156-.188V7.313c0-.094.062-.188.156-.188zm2.844 0h1.563c.094 0 .156.093.156.188v1.531c0 .094-.062.188-.156.188H13.22c-.094 0-.156-.093-.156-.188V7.313c0-.094.062-.188.156-.188zm2.844 0h1.531c.094 0 .188.093.188.188v1.531a.201.201 0 0 1-.188.188h-1.531a.201.201 0 0 1-.188-.188V7.313c0-.094.093-.188.188-.188zm-12.844 3h1.563c.094 0 .156.093.156.188v1.563c0 .094-.062.156-.156.156H3.22c-.094 0-.156-.062-.156-.156v-1.563c0-.094.062-.188.156-.188zm2.906 0h1.563c.094 0 .188.093.188.188v1.563c0 .094-.093.156-.188.156H6.126c-.094 0-.156-.062-.156-.156v-1.563c0-.094.062-.188.156-.188zm2.938 0h1.531c.094 0 .188.093.188.188v1.563c0 .094-.093.156-.188.156H9.064c-.094 0-.188-.062-.188-.156v-1.563c0-.094.093-.188.188-.188zm2.906 0h1.563c.094 0 .156.093.156.188v1.563c0 .094-.062.156-.156.156H11.97c-.094 0-.188-.062-.188-.156v-1.563c0-.094.093-.188.188-.188zm2.906 0h1.563c.094 0 .156.093.156.188v1.563c0 .094-.062.156-.156.156h-1.563c-.094 0-.156-.062-.156-.156v-1.563c0-.094.062-.188.156-.188zM4.001 13.688h12c.088 0 .156.068.156.156v.844a.154.154 0 0 1-.156.156h-12a.154.154 0 0 1-.156-.156v-.844c0-.088.068-.156.156-.156z%22/%3E %3C/svg%3E");
}
